html,
body,
#root,
.app{
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}


.WelcomeDiv {
    width: 150px;
    height: 150px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.WelcomeDiv button{
    width: 100%;
    height: 100%;
    background-color: rgb(194, 194, 194);
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
}