html,
body,
#root,
.app{
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}


.WelcomeDiv {
    width: 150px;
    height: 150px;
    display: flex;
        justify-content: center;
        align-items: center;
      
}

.WelcomeDiv button{
    width: 90%;
    height: 90%;
    border: 2px solid #fff;
    background-color: #C70039;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
}

.WelcomeDiv button:hover{
    background-color: #9e062c;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .custom-file-input {
    display: inline-block;
    padding: 0px; /* Adjust padding to control button size */
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners if desired */
    font-size: 1.8rem;
  }
  